body {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}

.uk-navbar-nav {
  width: 100%;
}
.uk-slideshow-items {
  min-height: 500px !important;
}
