body {
  margin: 0;
  font-family: "Open Sans", "Segoe UI", Roboto, "Helvetica Neue", Arial,
    sans-serif;
}
.uk-slideshow-items {
  min-height: 500px !important;
}

.uk-navbar-nav {
  width: 100%;
}
.uk-dropdown {
  min-width: 190px;
  max-width: 190px !important;
  padding: 15px;
}
