.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  height: 520px;
  background-color: #f3f3f3;
  margin-left: -15px;
  h2 {
    font-weight: 700;
    color: #333;
    line-height: 1.1em;
    margin: 0 !important;
    margin-bottom: 0.5rem !important;
  }
  p {
    font-weight: 400;
    color: #333;
    margin: 0 !important;
  }
  img {
    width: 65%;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  .left {
    @media screen and (max-width: 768px) {
      display: none;
    }
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    width: 350px;
    .border {
      border-left: 1px solid #000;
      padding-left: 10px;
      height: auto;
    }
    button {
      margin-top: 3rem !important;
    }
  }
}
.uk-button-red {
  border-width: 1px;
  background-color: #900 !important;
  border-color: #900 !important;
  color: #fff !important;
}
.m1 {
  max-width: 1600px;
  padding-right: 15px;
  height: 520px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  @media screen and (max-width: 768px) {
    max-height: 520px;
  }
  align-items: center;
  .big {
    padding-left: 100px;
    font-weight: 700;
    width: 500px;
    @media screen and (max-width: 768px) {
      padding: 10px;
      width: auto;
    }
    span {
      font-weight: 400;
    }
  }
}
.vp {
  max-width: 1600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  height: 520px;
  flex: 1;
  @media screen and (max-width: 768px) {
    img {
      display: none;
    }
    max-height: 520px;
    .big {
      font-size: 24px;
    }
  }
  .link {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-around;
  }
  .big {
    text-transform: uppercase;
    font-size: 55px;
  }
  span {
    text-transform: capitalize;
  }
}
h1{
  color: #fff;
}